center
	h1.subencabezado(onclick="ocultarMaterialize()" title="Mostrar/Ocultar") Materialize
div.row#materialize
	div.col-4
		ol.list-group
			li.list-group-item
				form(method="GET" action="/materialize")
					input.btn.btn-link(type="submit" value="Concepto" style="color: black;")
			li.list-group-item
				form(method="GET" action="/materialize/grid")
					input.btn.btn-link(type="submit" value="Sistema de grid" style="color: black;")
			li.list-group-item
				form(method="GET" action="/materialize/tablas")
					input.btn.btn-link(type="submit" value="Tablas" style="color: black;")
			li.list-group-item
				form(method="GET" action="/materialize/imagenes")
					input.btn.btn-link(type="submit" value="Imagenes" style="color: black;")
			li.list-group-item
				form(method="GET" action="/materialize/botones")
					input.btn.btn-link(type="submit" value="Botones" style="color: black;")
			li.list-group-item
				form(method="GET" action="/materialize/paginacion")
					input.btn.btn-link(type="submit" value="Paginacion" style="color: black;")
			li.list-group-item
				form(method="GET" action="/materialize/formularios")
					input.btn.btn-link(type="submit" value="Formularios" style="color: black;")
			li.list-group-item
				form(method="GET" action="/materialize/referencias")
					input.btn.btn-link(type="submit" value="Referencias" style="color: black;")
	div.col-4
		ol.list-group
			li.list-group-item
				form(method="POST" action="/editor")
					input(type='hidden' name='txt_codigo' value="<!DOCTYPE html>\n<html>\n\t<head>\n\t\t<title>Ejercicio</title>\n\t\t<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css'>\n\t\t<style type='text/css'>\n\t\t\t.bloque{\n\t\t\t\tmargin-left: 120px;\n\t\t\t\tmargin-bottom: 20px;\n\t\t\t\tmargin-top: 30px;\n\t\t\t}\n\t\t</style>\n\t</head>\n\t<body>\n\t\t<div class='row bloque'>\n\t\t\t<div class='col s1'></div>\n\t\t\t<div class='col s2'>\n\t\t\t\t<p> Bloque de texto... </p>\n\t\t\t</div>\n\t\t\t<div class='col s1'></div>\n\t\t\t<div class='col s2'>\n\t\t\t\t<p> Bloque de texto... </p>\n\t\t\t</div>\n\t\t\t<div class='col s1'></div>\n\t\t\t<div class='col s2'>\n\t\t\t\t<p> Bloque de texto... </p>\n\t\t\t</div>\n\t\t\t<div class='col s2'></div>\n\t\t</div>\n\t\t<div class='row bloque'>\n\t\t\t<div class='col s1'></div>\n\t\t\t<div class='col s2'>\n\t\t\t\t<p> Bloque de texto... </p>\n\t\t\t</div>\n\t\t\t<div class='col s1'></div>\n\t\t\t<div class='col s2'>\n\t\t\t\t<p> Bloque de texto... </p>\n\t\t\t</div>\n\t\t\t<div class='col s1'></div>\n\t\t\t<div class='col s2'>\n\t\t\t\t<p> Bloque de texto... </p>\n\t\t\t</div>\n\t\t\t<div class='col s2'></div>\n\t\t</div>\n\t</body>\n</html>")
					input.btn.btn-link(type="submit" value="Practica 1" style="color: black;")
			li.list-group-item
				form(method="POST" action="/editor")
					input(type='hidden' name='txt_codigo' value="<!DOCTYPE html>\n<html>\n\t<head>\n\t\t<title>Ejercicio</title>\n\t\t<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css'>\n\t\t<style type='text/css'>\n\t\t\t.bloque{\n\t\t\t\tmargin-bottom: 20px;\n\t\t\t\tmargin-top: 30px;\n\t\t\t}\n\t\t</style>\n\t</head>\n\t<body>\n\t\t<h1 style='text-align: center;'>ANIMALES</h1>\n\t\t<div class='row bloque'>\n\t\t\t<div class='col s1'></div>\n\t\t\t<div class='col s10' align='center'>\n\t\t\t\t<p> Bloque de texto...</p>\n\t\t\t\t<img src='http://cdn.playbuzz.com/cdn/060186cd-b685-4a90-9dfc-1c7ffa32a29e/e1966897-5fa7-4071-8f39-2228ac3dba1d.jpg' width='300px' class='circle'>\n\t\t\t\t<ul class='pagination'>\n\t\t\t\t\t<li class='disabled'><a>Anterior</a></li>\n\t\t\t\t\t<li class='active'><a>1</a></li>\n\t\t\t\t\t<li class='waves-effect'><a>2</a></li>\n\t\t\t\t\t<li class='waves-effect'><a>3</a></li>\n\t\t\t\t\t<li class='waves-effect'><a>Siguiente</a></li>\n\t\t\t\t</ul>\n\t\t\t<div>\n\t\t\t<div class='col s1'></div>\n\t\t</div>\n\t</body>\n<html>")
					input.btn.btn-link(type="submit" value="Practica 2" style="color: black;")
			li.list-group-item
				// 3 YA
				form(method="POST" action="/editor")
					input(type='hidden' name='txt_codigo' value="<!DOCTYPE html>\n<html>\n\t<head>\n\t\t<title>Ejercicio</title>\n\t\t<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css'>\n\t<style type='text/css'>\n\t\t\t.bloque{\n\t\t\t\tmargin-left: 50px;\n\t\t\t\tmargin-bottom: 20px;\n\t\t\t\tmargin-top: 30px;\n\t\t\t}\n\t\t</style>\n\t</head>\n\t<body>\n\t\t<div class='row bloque'>\n\t\t\t<div class='col s1'></div>\n\t\t\t<div class='col s2'>\n\t\t\t\t<h5>Manzana</h5>\n\t\t\t\t<img src='https://www.vegaffinity.com/imagenes/alimentos/manzana.png'>\n\t\t\t\t<h6>Precio: $10.00</h6>\n\t\t\t</div>\n\t\t\t<div class='col s1'></div>\n\t\t\t<div class='col s2'>\n\t\t\t\t<h5>Fresa</h5>\n\t\t\t\t<img src='https://www.wakabanga.com/media/catalog/product/cache/thumbnail/100x100/beff4985b56e3afdbeabfc89641a4582/t/o/toalla-gigante-fresa2.jpg'>\n\t\t\t\t<h6>Precio: $18.00</h6>\n\t\t\t</div>\n\t\t\t<div class='col s1'></div>\n\t\t\t<div class='col s2'>\n\t\t\t\t<h5>Mango</h5>\n\t\t\t\t<img src='http://www.ecohappystore.com/wp-content/uploads/2017/01/mango.png'>\n\t\t\t\t<h6>Precio: $13.00</h6>\n\t\t\t</div>\n\t\t\t<div class='col s2'></div>\n\t\t</div>\n\t\t<div class='row bloque'>\n\t\t\t<div class='col s1'></div>\n\t\t\t<div class='col s2'>\n\t\t\t\t<h5>Piña</h5>\n\t\t\t\t<img src='http://www.gifs-animados.es/alimentos-y-bebidas/alimentos-y-bebidas-imagenes/pina/gifs-animados-pina-11169.gif'>\n\t\t\t\t<h6>Precio: $24.00</h6>\n\t\t\t</div>\n\t\t\t<div class='col s1'></div>\n\t\t\t<div class='col s2'>\n\t\t\t\t<h5>Sandia</h5>\n\t\t\t\t<img src='http://static.youmiam.com/images/ingredient/100x100/pasteque.jpg?placeholder=web_ingredient&sig=7fc811aa8172e7d7e240174cc037068cb5bad5a7&v1'>\n\t\t\t\t<h6>Precio: $30.00</h6>\n\t\t\t</div>\n\t\t\t<div class='col s1'></div>\n\t\t\t<div class='col s2'>\n\t\t\t\t<h5>Pera</h5>\n\t\t\t\t<img src='http://agrorutaverde.cl/wp-content/uploads/2016/03/pera-packham.png'>\n\t\t\t\t<h6>Precio: $4.00</h6>\n\t\t\t</div>\n\t\t\t<div class='col s2'></div>\n\t\t</div>\n\t</body>\n</html>")
					input.btn.btn-link(type="submit" value="Practica 3" style="color: black;")
			li.list-group-item
				// 4 YA
				form(method="POST" action="/editor")
					input(type='hidden' name='txt_codigo' value="<!DOCTYPE html>\n<html>\n\t<head>\n\t\t<title>Ejercicio</title>\n\t\t<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css'>\n\t\t<style type='text/css'>\n\t\t\t.bloque{\n\t\t\t\tmargin-bottom: 20px;\n\t\t\t\tmargin-top: 30px;\n\t\t\t}\n\t\t</style>\n\t</head>\n\t<body>\n\t\t<div class='row bloque'>\n\t\t\t<div class='col s2'></div>\n\t\t\t<div class='col s4'>\n\t\t\t\t<table class='bordered'>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<th>Nombre</th>\n\t\t\t\t\t\t<th>Apellidos</th>\n\t\t\t\t\t\t<th>Sexo</th>\n\t\t\t\t\t\t<th>Escolaridad</th>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td>Lucas</td>\n\t\t\t\t\t\t<td>Estrada</td>\n\t\t\t\t\t\t<td>Masculino</td>\n\t\t\t\t\t\t<td>Bachillerato</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td>David</td>\n\t\t\t\t\t\t<td>Figueroa</td>\n\t\t\t\t\t\t<td>Masculino</td>\n\t\t\t\t\t\t<td>Licenciatura</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td>Alejandra</td>\n\t\t\t\t\t\t<td>García</td>\n\t\t\t\t\t\t<td>Femenino</td>\n\t\t\t\t\t\t<td>Licenciatura</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td>Diego</td>\n\t\t\t\t\t\t<td>Bello</td>\n\t\t\t\t\t\t<td>Masculino</td>\n\t\t\t\t\t\t<td>Secundaria</td>\n\t\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t</div>\n\t\t\t<div class='col s4'></div>\n\t\t</div>\n\t</body>\n</html>")
					input.btn.btn-link(type="submit" value="Practica 4" style="color: black;")
	div.col-4
		ol.list-group
			li.list-group-item
				// 5 YA
				form(method="POST" action="/editor")
					input(type='hidden' name='txt_codigo' value="<!DOCTYPE html>\n<html>\n\t<head>\n\t\t<title>Ejercicio</title>\n\t\t<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css'>\n\t\t<style type='text/css'>\n\t\t\t.bloque{\n\t\t\t\tmargin-bottom: 20px;\n\t\t\t\tmargin-top: 30px;\n\t\t\t}\n\t\t</style>\n\t</head>\n\t<body>\n\t\t<div class='row bloque'>\n\t\t\t<div class='col s3'>\n\t\t\t\t<ul class='collection'>\n\t\t\t\t\t<li class='collection-item'><h6><b>PRODUCTOS</b></h6></li>\n\t\t\t\t\t<li class='collection-item'>Mesas</li>\n\t\t\t\t\t<li class='collection-item'>Sillas</li>\n\t\t\t\t\t<li class='collection-item'>Sillones</li>\n\t\t\t\t\t<li class='collection-item active'>Camas</li>\n\t\t\t\t\t<li class='collection-item'>Bancos</li>\n\t\t\t\t\t<li class='collection-item'>Sofás</li>\n\t\t\t\t\t<li class='collection-item'>Butacas</li>\n\t\t\t\t\t<li class='collection-item'>Libreros</li>\n\t\t\t\t\t<li class='collection-item'>Burós</li>\n\t\t\t\t\t<li class='collection-item'>Roperos</li>\n\t\t\t\t</ul>\n\t\t\t</div>\n\t\t\t<div class='col s1'></div>\n\t\t\t<div class='col s8' align='center'>\n\t\t\t\t<h3 style='text-align: center;'>Camas</h3>\n\t\t\t\t<p> Informacion... </p>\n\t\t\t\t<img src='https://mlm-s1-p.mlstatic.com/14670-MLM20089021925_052014-C.jpg' width='300px'>\n\t\t\t\t<h6>Precio: $5999.00</h6>\n\t\t\t</div>\n\t\t</div>\n\t</body>\n</html>")
					input.btn.btn-link(type="submit" value="Practica 5" style="color: black;")
			li.list-group-item
				// 6 YA
				form(method="POST" action="/editor")
					input(type='hidden' name='txt_codigo' value="<!DOCTYPE html>\n<html>\n\t<head>\n\t\t<title>Ejercicio</title>\n\t\t<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css'>\n\t\t<style type='text/css'>\n\t\t\t.btn{\n\t\t\t\twidth: 38px;\n\t\t\t}\n\t\t\tinput[type=number]{\t\n\t\t\t\tcolor: #3f3;\n\t\t\t\ttext-align: center;\n\t\t\t\tpadding: 4px;\n\t\t\t\tfont-family: serif;\n\t\t\t}\n\t\t</style>\n\t</head>\n\t<body>\n\t\t<div class='row' style='margin-top: 30px;'>\n\t\t\t<div class='col s1'></div>\n\t\t\t<div class='col s3' align='center'>\n\t\t\t\t<table>\n\t\t\t\t\t<tr>\t\t\t\t\t\t\t<td colspan='5'><input type='number' style='background: black;' valu\n'33443'></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td><input type='button' value='1' class='btn blue'></td>\n\t\t\t\t\t\t<td><input type='button' value='2' class='btn blue'></td>\n\t\t\t\t\t\t<td><input type='button' value='3' class='btn blue'></td>\n\t\t\t\t\t\t<td><input type='button' value='+' class='btn green'></td>\n\t\t\t\t\t\t<td><input type='button' value='*' class='btn green'></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td><input type='button' value='4' class='btn blue'></td>\n\t\t\t\t\t\t<td><input type='button' value='5' class='btn blue'></td>\n\t\t\t\t\t\t<td><input type='button' value='6' class='btn blue'></td>\n\t\t\t\t\t\t<td><input type='button' value='/' class='btn green'></td>\n\t\t\t\t\t\t<td><input type='button' value='-' class='btn green'></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td><input type='button' value='7' class='btn blue'></td>\n\t\t\t\t\t\t<td><input type='button' value='8' class='btn blue'></td>\n\t\t\t\t\t\t<td><input type='button' value='9' class='btn blue'></td>\n\t\t\t\t\t\t<td><input type='button' value='0' class='btn blue'></td>\n\t\t\t\t\t\t<td><input type='button' value='=' class='btn green'></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td><input type='button' value='C' class='btn red'></td>\n\t\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t</div>\n\t\t\t<div class='col s4'></div>\n\t\t</div>\n\t</body>\n</html>")
					input.btn.btn-link(type="submit" value="Practica 6" style="color: black;")
			li.list-group-item
				// 7 YA
				form(method="POST" action="/editor")
					input(type='hidden' name='txt_codigo' value="<!DOCTYPE html>\n<html>\n\t<head>\n\t\t<title>Ejercicio</title>\n\t\t<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css'>\n\t</head>\n\t<body>\n\t\t<div class='row' style='margin-top: 30px;'>\n\t\t\t<div class='col s1'></div>\n\t\t\t<div class='col s8'>\n\t\t\t\t<form>\n\t\t\t\t\t<table>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td><label>Introduce nombre:</label></td>\n\t\t\t\t\t\t\t<td><input type='text'></td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td><label>Introduce apellido:</label></td>\n\t\t\t\t\t\t\t<td><input type='text'></td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td><label>Introduce sexo:</label></td>\n\t\t\t\t\t\t\t<td>\n\t\t\t\t\t\t\t\t<select class='browser-default'>\n\t\t\t\t\t\t\t\t\t<option>Masculino</option>\n\t\t\t\t\t\t\t\t\t<option>Femenino</option>\n\t\t\t\t\t\t\t\t</select>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td></td>\n\t\t\t\t\t\t\t<td>\n\t\t\t\t\t\t\t\t<input type='submit' class='btn  red darken-1' value='Reset'>\n\t\t\t\t\t\t\t\t<input type='submit' class='btn green'>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t</table>\n\t\t\t\t</form>\n\t\t\t</div>\n\t\t\t<div class='col s4'></div>\n\t\t</div>\n\t</body>\n</html>")
					input.btn.btn-link(type="submit" value="Practica 7" style="color: black;")
			li.list-group-item
				// 8 YA
				form(method="POST" action="/editor")
					input(type='hidden' name='txt_codigo' value="<!DOCTYPE html>\n<html>\n\t<head>\n\t\t<title>Ejercicio</title>\n\t\t<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css'>\n\t\t<style type='text/css'>\n\t\t\t.bloque{\n\t\t\t\tmargin-top: 30px;\n\t\t\t}\n\t\t\t#encabezado{\n\t\t\t\ttext-align: center;\n\t\t\t\tmargin-top: 30px;\n\t\t\t}\n\t\t</style>\n\t</head>\n\t<body>\n\t\t<h1 id='encabezado'>Envio de email</h1>\n\t\t<div class='row bloque'>\n\t\t\t<div class='col s4'></div>\n\t\t\t<div class='col s4' align='center'>\n\t\t\t\t<table>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td><label>Introduce email:</label></td>\n\t\t\t\t\t\t<td><input type='email' name=''></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td><label>Mensaje a enviar:</label></td>\n\t\t\t\t\t\t<td><textarea cols='22' rows='6'></textarea></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td></td>\n\t\t\t\t\t\t<td><input type='submit' class='btn'></td>\n\t\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t</div>\n\t\t\t<div class='col s4'></div>\n\t\t</div>\n\t</body>\n</html>")
					input.btn.btn-link(type="submit" value="Practica 8" style="color: black;")
script.
	var bandera_materialize = true
	function ocultarMaterialize(){	
		document.getElementById('materialize').hidden = bandera_materialize
		bandera_materialize = !bandera_materialize
	}
	
































