extends ../layout/contenido_editor
block contenido
	br
	div.row(style="margin-bottom:3%;")
		div.col-1
			form(action='/')
				input.btn.botones_editor.bot(type='submit' title='Inicio' value='' style='background:url("/img/icon-index2.png") left center no-repeat; padding:22px;')
		div.col-10
			h1 Concepto.
			p Bootstrap es un framework  para el front-end de Código abierto para diseño de sitios y aplicaciones web. Contiene plantillas de diseño con tipografía, formularios, botones, cuadros, menús de navegación y otros elementos de diseño basado en HTML y CSS, así como, extensiones de JavaScript opcionales adicionales. 
	div.row(style="margin-bottom:10%;")
		div.col-1
		div.col-10
			h3 Caracteristicas
			p Bootstrap tiene soporte para HTML5 y CSS3. Es compatible con la mayoría de los navegadores web. La información básica de compatibilidad de sitios web o aplicaciones está disponible para todos los dispositivos y navegadores.
			ul
				li Framework utilizado para desarrollo rápido del front-end.
				li Framework con capacidad de crear diseños responsivos.
				li Proyecto más popular en GitHub​ y es usado por la NASA y la MSNBC entre otras organizaciones.
				li Es el framework es el más utilizado por diseñadores de sitios web.
				li Descarga es gratuita. 
			center
				img(src="http://maquetando.com/wp-content/uploads/2017/08/598970_ee10-1.jpg" width="500")