extends ../layout/contenido_editor
block contenido
	br
	div.row(style="margin-bottom:3%;")
		div.col-1
			form(action='/')
				input.btn.botones_editor.bot(type='submit' title='Inicio' value='' style='background:url("/img/icon-index2.png") left center no-repeat; padding:22px;')
		div.col-10
			h1 Concepto.
			p Según Marcelo Maraboli Rosselott, el lenguaje PHP es un lenguaje de programación de estilo clásico, es decir que es un lenguaje de programación con variables, sentencias condicionales, bucles, funciones, etc. No es un lenguaje de etiquetas como podría ser HTML o XML. PHP puede ser ejecutado en el navegador, solo que con el único requisito que, a diferencia de HTML o JavaScript, PHP tiene que tener un servidor ya sea local o web para ejecutar su código, por eso nos permite acceder a los recursos que tenga el servidor como por ejemplo podría ser una base de datos. 
	div.row(style="margin-bottom:2%;")
		div.col-1
		div.col-5
			img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/1200px-PHP-logo.svg.png" width="400")
		div.col-5
			p El programa PHP es ejecutado en el servidor y el resultado enviado al navegador. El resultado es normalmente una página HTML. (Rosselott, 2003)
	div.row(style="margin-bottom:2%;")
		div.col-1
		div.col-10
			h3 Características
			ol 
				li Orientado al desarrollo de aplicaciones web dinámicas con acceso a información almacenada en una base de datos.
				li El código fuente escrito en PHP es invisible al navegador web y al cliente.
				li Capacidad de conexión con la mayoría de los motores de base de datos.
				li Posee una amplia documentación en su sitio web oficial.
				li Permite aplicar técnicas de programación orientada a objetos.
			h3 Archivos PHP
			p Un archivo PHP contiene texto plano, HTML, CSS, JavaScript y código PHP, este último; solo podrá ser ejecutado en un servidor web o local. Los archivos PHP tienen extensión *.php.
			p Con PHP podemos crear, abrir, leer, escribir, eliminar archivos del servidor, almacenar cookies, agregar, modificar, eliminar, visualizar registros de una base de datos, encriptar datos, entre otras muchas cosas más.
			h3 Instalación
			b Para empezar a desarrollar con PHP, existen dos maneras de corres las aplicaciones:
			ol
				li Tener un host con soporte de PHP y bases de datos MySQL.
				li Instalar un servidor web en tu PC (servidor local) y el gestor de base de datos MySQL. 
 


					