extends ../layout/contenido_editor
block contenido
	br
	div.row(style="margin-bottom:1%;")
		div.col-1
			form(action='/')
				input.btn.botones_editor.bot(type='submit' title='Inicio' value='' style='background:url("/img/icon-index2.png") left center no-repeat; padding:22px;')
		div.col-10
			h1 Funciones.
			p Una función es un bloque de código que puede ser utilizado n cantidad de veces, y que puede ser invocada desde cualquier parte del programa. Las funciones ayudan a los programadores a modular su código.
			p Declaración de una función.
			p Para declarar una función se usa la palabra reservada function seguida del nombre de la función
			center
				img(src="http://2.bp.blogspot.com/-7f7zpUHCXZw/Unb5fD6IInI/AAAAAAAAADI/KHgCWqM1EgY/s1600/Captura10.JPG" width="400")
	div.row(style="margin-bottom:1%;")
		div.col-1		
		div.col-10
			h3 Funciones con parámetros/argumentos.
			p Existen funciones a las cuales se les puede pasar información para que la procesen y devuelvan un resultado. A esta información que se les pasa a las funciones son variables, las cuales van dentro de los paréntesis que invocan a la función. Si existe más de un parámetro que pide una función, estos irán separados por comas. 