extends ../layout/contenido_editor
block contenido
	br
	div.row(style="margin-bottom:3%;")
		div.col-1
			form(action='/')
				input.btn.botones_editor.bot(type='submit' title='Inicio' value='' style='background:url("/img/icon-index2.png") left center no-repeat; padding:22px;')
		div.col-10
			h1 Referencias.	
	div.row(style="margin-bottom:10%;")
		div.col-3
		div.col-6
			ul(style="list-style-type: upper-latin;")
				li https://secure.php.net/archive/2017.php#id2017-11-30-1
				li https://www.jobatus.es/trabajo-programador-php
				li https://desarrolloweb.com/php/
				li http://www.tutorialesprogramacionya.com/phpya/
				li http://php.net/docs.php