extends ../layout/contenido_editor
block contenido
	br
	div.row(style="margin-bottom:3%;")
		div.col-1
			form(action='/')
				input.btn.botones_editor.bot(type='submit' title='Inicio' value='' style='background:url("/img/icon-index2.png") left center no-repeat; padding:22px;')
		div.col-10
			h1 Concepto.
			p JavaScript (abreviado comúnmente JS) es un lenguaje de programación interpretado. Tiene soporte para el paradigma orientado a objetos, ​ basado en prototipos, imperativo, débilmente tipado y dinámico.
			p Este lenguaje de programación principalmente se usa en su forma del lado del cliente (client-side o Front-End), implementado como parte de un navegador web permitiendo mejoras en la interfaz de usuario y páginas web dinámicas.
			p Todos los navegadores modernos interpretan el código JavaScript integrado en las páginas web. Para interactuar con una página web se provee al lenguaje JavaScript de una implementación del Document Object Model (DOM).
			p Tradicionalmente se venía utilizando en páginas web HTML para realizar operaciones y únicamente en el marco de la aplicación cliente, sin acceso a funciones del servidor. (Puig, 2016) 
	div.row(style="margin-bottom:10%;")
		div.col-5
			center
				img(src="http://www.manejandodatos.es/wp-content/uploads/2015/03/javascript.png")
		div.col-6
			table.table.table-striped.table-hover
				tr
					th Caracteristicas
					th
				tr
					td Paradigma
					td Multiparadigma, programación funcional, programación basada en prototipos, imperativo, interpretado.
				tr
					td Año de invencion
					td 1995
				tr
					td Diseñado por
					td 
						p Netscape Communications Corp.
						p Mozilla Fundation.
				tr
					td Sistema de tipos
					td Débil, dinámico.
				tr
					td Influido por
					td Java, Perl, Python, C.