extends ../layout/contenido_editor
block contenido
	br
	div.row(style="margin-bottom:3%;")
		div.col-1
			form(action='/')
				input.btn.botones_editor.bot(type='submit' title='Inicio' value='' style='background:url("/img/icon-index2.png") left center no-repeat; padding:22px;')
		div.col-10
			h1 Referencias.	
	div.row(style="margin-bottom:10%;")
		div.col-3
		div.col-6
			ul(style="list-style-type: upper-latin;")
				li Eloquent JavaScript (Marijn Haverbeke)
				li CSS3 y Javascript avanzado. Autor: Jordi Collell Puig
				li Snook, Jonathan, Gustafson, Aaron, Langridge y Webb, Dan. Accelerated DOM Scripting with Ajax, APIs and Libraries. Ed. Apress.
				li Pollock, John. JavaScript, A Beginner's Guide. Third Edition. Ed. McGraw Lindley, Cody. High Performance JavaScript (Build Faster Web Application Interfaces). Ed. O’Reilly.
				li JavaScript: The Good Parts (Douglas Crockford)
				li JavaScript Patterns (Stoyan Stefanov)
				

