extends ../layout/contenido_editor
block contenido
	br
	div.row(style="margin-bottom:3%;")
		div.col-1
			form(action='/')
				input.btn.botones_editor.bot(type='submit' title='Inicio' value='' style='background:url("/img/icon-index2.png") left center no-repeat; padding:22px;')
		div.col-10
			h1 Concepto.
			p Es una biblioteca de JavaScript rápida, pequeña y rica en funciones. Hace cosas como el recorrido y manipulación de documentos HTML, manejo de eventos, animación, y Ajax mucho más simple con una API fácil de usar que funciona en una multitud de navegadores. Con una combinación de versatilidad y extensibilidad, jQuery ha cambiado la forma en que millones de personas escriben JavaScript. Su objetivo se centra en su eslogan "escribir menos, hacer más”, ya que con menos líneas de código se pueden lograr proyectos más grandes.
			p jQuery toma muchas tareas comunes que requieren muchas líneas de código JavaScript para cumplir, y las envuelve en métodos que puede llamar con una sola línea de código.
			center
				img(src="https://convertintowordpress.com/wp-content/uploads/2015/12/jquery_paging_table_example_code.png")
	div.row(style="margin-bottom:10%;")
		div.col-1
		div.col-5
			h3 Características de jQuery:
			ul
				li Manipulación HTML / DOM
				li Manipulación de CSS
				li Métodos de eventos HTML
				li Efectos y animaciones
				li AJAX
				li Utilidades
		div.col-5
			h3 Compañias que usan jQuery:
			ul
				li Google
				li Microsoft
				li Netflix
				li IBM