ul
	li
		a(href="#seccion_nodejs" id="link_nodejs" style="text-decoration: none") Node.js
	li
		a(href="#seccion_laravel" id="link_laravel" style="text-decoration: none") Laravel
	li
		a(href="#seccion_php" id="link_php" style="text-decoration: none") PHP	
	li
		a(href="#seccion_ajax" id="link_ajax" style="text-decoration: none") AJAX
	li
		a(href="#seccion_angularjs" id="link_angularjs" style="text-decoration: none") AngularJS	
	li
		a(href="#seccion_jquery" id="link_jquery" style="text-decoration: none") jQuery	
	li
		a(href="#seccion_javascript" id="link_javascript" style="text-decoration: none") JavaScript
	li
		a(href="#seccion_materialize" id="link_materialize" style="text-decoration: none") Materialize
	li
		a(href="#seccion_bootstrap" id="link_bootstrap" style="text-decoration: none") Boostrap
	li
		a(href="#seccion_css" id="link_css" style="text-decoration: none") CSS
	li
		a(href="#seccion_html" id="link_html" style="text-decoration: none") HTML
	li
		a(href="/editor" style="text-decoration: none") EDITOR


















//ul
	li
		a(href="/editor" style="text-decoration: none") EDITOR
	li
		a(href="#seccion_html" id="link_html" style="text-decoration: none") HTML
	li
		a(href="#seccion_css" id="link_css" style="text-decoration: none") CSS
	li
		a(href="#seccion_bootstrap" id="link_bootstrap" style="text-decoration: none") Boostrap
	li
		a(href="#seccion_materialize" id="link_materialize" style="text-decoration: none") Materialize
	li
		a(href="#seccion_javascript" id="link_javascript" style="text-decoration: none") JavaScript
	li
		a(href="#seccion_javascript" id="link_javascript" style="text-decoration: none") jQuery
	li
		a(href="#seccion_javascript" id="link_javascript" style="text-decoration: none") AngularJS
	li
		a(href="#seccion_javascript" id="link_javascript" style="text-decoration: none") AJAX
	li
		a(href="#seccion_php" id="link_php" style="text-decoration: none") PHP
	li
		a(href="#seccion_php" id="link_php" style="text-decoration: none") Laravel
	li
		a(href="#seccion_php" id="link_php" style="text-decoration: none") Node.js