extends ../layout/contenido_editor
block contenido
	br
	div.row(style="margin-bottom:3%;")
		div.col-1
			form(action='/')
				input.btn.botones_editor.bot(type='submit' title='Inicio' value='' style='background:url("/img/icon-index2.png") left center no-repeat; padding:22px;')
		div.col-10
			h1 Concepto.
			p Es un lenguaje de estilos para definir y crear la presentación de un documento estructurado; escrito en un lenguaje de marcado (como HTML o XML), separando el contenido con la presentación. Es muy usado para establecer un buen diseño visual sobre las páginas web a los usuarios. CSS junto a HTML y JavaScript son tecnologías usadas por gran parte de los sitios en internet.
			p CSS permite a los desarrolladores web controlar el estilo de una o múltiples páginas web (siempre y cuando las páginas web tengan una referencia al mismo archivo CSS), cualquier cambio realizado en el archivo CSS se aplicará totalmente a sus páginas web vinculadas. (M. Schafer S. )

	div.row(style="margin-bottom:3%;")
		div.col-1
		div.col-10
			h3 Funcionamiento CSS
			p Un archivo CSS funciona en base de reglas, ya que se declara un estilo sobre uno o más elementos. Las hojas de estilo están compuestas por varias de esas reglas aplicadas a un documento de marcado (HTML o XML). (W3C)
			p La estructura de una regla CSS tiene dos partes: un selector y una declaración (compuesta por una propiedad y un valor). 
	div.row(style="margin-bottom:10%;")
		div.col-1
		div.col-5
			table.table.table-striped.table-hover
				tr
					th Caracteristicas
					th
				tr
					td Extension de archivo
					td *.css
				tr
					td Tipo de codigo
					td Texto
				tr
					td Tipo de formato
					td Lenguaje de hoja de estilos.	
				tr
					td Año de lanzamiento
					td 1996
				
		div.col-5
			table.table.table-striped.table-hover
				tr
					th Siglas
					th
				tr
					td *
					td Hojas de estilo en cascada
				tr
					td C
					td Cascading
				tr
					td S
					td Style
				tr
					td S
					td Sheet
			