extends ../layout/contenido_editor
block contenido
	br
	div.row(style="margin-bottom:3%;")
		div.col-1
			form(action='/')
				input.btn.botones_editor.bot(type='submit' title='Inicio' value='' style='background:url("/img/icon-index2.png") left center no-repeat; padding:22px;')
		div.col-10
			h1 Referencias.	
	div.row(style="margin-bottom:10%;")
		div.col-3
		div.col-6
			ul(style="list-style-type: upper-latin;")
				li M. Schafer, Steven. HTML, XHTML, and CSS Bible. Wiley Publishing Inc.
				li Bowers, Michael. Pro CSS and HTML Design Patterns. Ed. Apress.
				li Curso Completo de HTML. Autor:  Jorge Ferrer
				li Manual de HTML. Autor: Alonso Cornejo
				li Guía HTML5. El presente de la web. Autores: John Freddy Vega y Christian Van Der Henst
				li HTML5. Autor: Arkaitz Garro
				li https://librosweb.es/libro/xhtml/