extends ../layout/contenido_editor
block contenido
	br
	div.row(style="margin-bottom:3%;")
		div.col-1
			form(action='/')
				input.btn.botones_editor.bot(type='submit' title='Inicio' value='' style='background:url("/img/icon-index2.png") left center no-repeat; padding:22px;')
		div.col-10
			h1 Concepto.
			p Es un framework de JavaScript de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página. Su objetivo es aumentar las aplicaciones basadas en navegador con capacidad de Modelo Vista Controlador (MVC).
			p Esta biblioteca lee el HTML que contiene atributos de las etiquetas personalizadas adicionales, entonces obedece a las directivas de los atributos personalizados, y une las piezas de entrada o salida de la página a un modelo representado por las variables estándar de JavaScript..
			p Es muy común utilizarlo para construir un marco adecuado para el desarrollo de aplicaciones. Es completamente extensible y funciona bien con otras bibliotecas.
	div.row(style="margin-bottom:3%;")
		div.col-1
		div.col-5
			img(src="https://appendto.com/wp-content/uploads/2016/05/angular.png")
		div.col-5
			h3 Características:
			ul
				li Angular es muy popular. Comunidad muy activa.
				li No agrega componentes gráficos o CSS.
				li Liviano y eficiente.
				li Coexiste con otros frameworks JavaScript como jQuery.
				li Está basado el JavaScript, uno de los lenguajes más populares del internet

	div.row(style="margin-bottom:10%;")
		div.col-1
		div.col-10
			p AngularJS está construido en torno a la creencia de que la programación declarativa es la que debe utilizarse para generar interfaces de usuario y enlazar componentes de software, mientras que la programación imperativa es excelente para expresar la lógica de negocio.
			p Este framework adapta y amplía el HTML tradicional para servir mejor contenido dinámico a través de un data binding bidireccional que permite la sincronización automática de modelos y vistas.
