extends ../layout/contenido_editor
block contenido
	br
	div.row(style="margin-bottom:3%;")
		div.col-1
			form(action='/')
				input.btn.botones_editor.bot(type='submit' title='Inicio' value='' style='background:url("/img/icon-index2.png") left center no-repeat; padding:22px;')
		div.col-10
			h1 Controladores.
			p Controlan los datos de las aplicaciones AngularJS, estos son objetos regulares de JavaScript.
			p Las aplicaciones AngularJS están controladas por controladores.
			p La directiva ng-controller define el controlador de la aplicación.
			p Un controlador es un objeto JavaScript, creado por un constructor de objetos JavaScript estándar.

	div.row(style="margin-bottom:0%;")
		div.col-3
		div.col-6
			ul
				li Etiqueta para definir el tipo de formato del documento que interpretará el navegador web.
				li Etiqueta para la cabecera de la página web.
				li Etiqueta para dar un título a la página web.
				li Etiqueta para importar hojas de estilo en cascada CSS.
				li Etiqueta para importar archivos de programación JavaScript.
				li Etiqueta del cuerpo del documento (en el cual se incluyen las demás etiquetas y todo el contenido del documento HTML).
	div.row
		div.col-12
			center
				img(src="https://image.slidesharecdn.com/3-161010105658/95/curso-angularjs-3-modulos-y-controladores-13-638.jpg?cb=1476097282" width="500")
