extends ../layout/contenido_editor
block contenido
	br
	div.row(style="margin-bottom:3%;")
		div.col-1
			form(action='/')
				input.btn.botones_editor.bot(type='submit' title='Inicio' value='' style='background:url("/img/icon-index2.png") left center no-repeat; padding:22px;')
		div.col-10
			h1 Referencias.	
	div.row(style="margin-bottom:10%;")
		div.col-3
		div.col-6
			ul(style="list-style-type: upper-latin;")
				li https://angularjs.org
				li https://carlosazaustre.es/empezando-con-angular-js/
				li https://angular.io
				li http://algo3.uqbar-project.org/material/herramientas/angular/angularjs---ejemplo-proyecto-simple
				li https://www.toptal.com/angular-js/un-tutorial-paso-a-paso-para-tu-primera-aplicación-angularjs/es
				li http://programacion.net/articulo/aprende_como_funciona_angularjs_con_este_sencillo_ejemplo_1239
				li http://slides.com/logongas/introduccion-angularjs-ejemplos-decharlas#/