extends ../layout/contenido_editor
block contenido
	br
	div.row(style="margin-bottom:1%;")
		div.col-1
			form(action='/')
				input.btn.botones_editor.bot(type='submit' title='Inicio' value='' style='background:url("/img/icon-index2.png") left center no-repeat; padding:22px;')
		div.col-10
			h1 Concepto.
			p De acuerdo al ed. Desarrolladores de Laravel “Introduccion – Documentacion Laravel PHP Framework”, Laravel es un framework de código abierto para desarrollar aplicaciones y servicios web con PHP 5 y PHP 7. Su filosofía es desarrollar código PHP de forma elegante y simple, evitando el "código espagueti".
			center
				img(src="https://steemitimages.com/DQmWEVPD6Vq6mE495iEJLdGLonBeMT5ghBQSmMn5VjkbV3F/Laravel_logo_wordmark_logotype.png" width="500")
			p Su objetivo es ser un framework que permita el uso de una sintaxis elegante y expresiva para crear aplicaciones de forma sencilla y permitiendo multitud de funcionalidades. Intenta aprovechar lo mejor de otros frameworks y aprovechar las características de las últimas versiones de PHP.
	div.row(style="margin-bottom:10%;")
		div.col-1
		div.col-10
			h3 Caracteristicas
			ul
				li Sistema de ruteo.
				li Sistema RESTful.
				li Basado en Composer (Manejador de dependencias de PHP).
				li Soporte para arquitectura Modelo-Vista-Controlador.
				li Utiliza Blade como motor de plantillas para crear vistas HTML.
				li Basado en el ORM Eloquent.
			p Laravel ha crecido rápidamente desde que se lanzó, es considerado por la comunidad de desarrolladores la mejor alternativa de usar pero que tiene todas las funcionalidades que debe tener un framework. 
			center
				img(src="https://image.slidesharecdn.com/zvvgsvjqtjsiln9pswks-signature-04dc1dae9959c7f50e1a94c999cbd747c26f3b6e5ea7f7b11bbdab514df3626f-poli-151023150808-lva1-app6892/95/introduccin-a-laravel-5-un-framework-para-artesanos-web-5-638.jpg?cb=1445617946" width="500")