extends ../layout/contenido_editor
block contenido
	br
	div.row(style="margin-bottom:3%;")
		div.col-1
			form(action='/')
				input.btn.botones_editor.bot(type='submit' title='Inicio' value='' style='background:url("/img/icon-index2.png") left center no-repeat; padding:22px;')
		div.col-10
			h1 Referencias.	
	div.row(style="margin-bottom:10%;")
		div.col-3
		div.col-6
			ul(style="list-style-type: upper-latin;")
				li laravel/framework: Release v5.4.14
				li Desarrolladores de Laravel (ed.). Introduccion - Documentation Laravel PHP Framework (en inglés).
				li Desarrolladores de Laravel (ed.). Routing - Documentation Laravel PHP Framework (en inglés).
				li Desarrolladores de Laravel (ed.). Templates - Documentation Laravel PHP Framework (en inglés).
				li Dayle. Code Happy - Blade Templates (en inglés).
				li Desarrolladores de Laravel (ed.). Query Builder - Documentation Laravel PHP Framework (en inglés).
				li Desarrolladores de Laravel (ed.). Eloquent ORM - Documentation Laravel PHP Framework (en inglés).