extends ../layout/contenido_editor
block contenido
	br
	div.row(style="margin-bottom:10%;")
		div.col-1
			form(action='/')
				input.btn.botones_editor.bot(type='submit' title='Inicio' value='' style='background:url("/img/icon-index2.png") left center no-repeat; padding:22px;')
		div.col-10
			h1 PRACTICA 1 - Ruta Hola mundo!
			h5 Desarrollar una aplicación en Nodejs, que tenga disponibles las siguientes rutas.
			table.table.table-striped.table-hover
				tr
					td / (raíz)
					td Que retorne una cadena de texto “Ruta -> raíz (/)”.
				tr
					td /hola
					td Que retorne una cadena de texto “Ruta -> hola (/hola)”.
			ol
				li En el CMD, nos posicionamos en el directorio sobre el cual crearemos el proyecto Laravel. (>cd + directorio).
				li Crear el directorio en el equipo donde será creado el proyecto Nodejs.
				li Nos posicionamos sobre el directorio en el que se creó el proyecto (>cd + directorio).
				li Importamos el modulo Express para manejar las rutas.
					p.parrafo-centrado
						i > npm install express -s
					br
				li Revisamos que los archivos/carpetas de la importación del modulo que genera el NPM Express se hayan creado correctamente.
					img.practicas(src="/img/240.png")
					br
				li Dentro del directorio del proyecto Node.js creamos un archivo *.js (app.js) el cual será el encargado donde se definen las rutas.
				li Modificamos el archivo app.js, agregando la ruta raíz (/) y la ruta /hola.
					img.practicas(src="/img/241.png")
					br
					table.table.table-striped.table-hover
						tr
							th Linea(s)
							th Descripcion
						tr
							td 1
							td Importamos el módulo de Express y se lo asignamos a la variable nombrada express.
						tr
							td 2
							td Creamos una variable nombrada app y le asignamos el valor que retorna la llamada al modulo express().
						tr
							td 3
							td Creamos una variable nombrada puerto y le asignamos un número entero el cual será el puerto donde corra la aplicación. (En nuestro caso correrá por el puerto 3000)
						tr
							td 4 → 10
							td Definicion de las rutas de la aplicación.
						tr
							td 5 → 7
							td 
								p Definicion de la ruta raíz (/) que se leera por el método HTTP GET, le pasamos dos parámetros req y res.
								p Req = Peticion del usuario.
								p Res = Respuesta del servidor.
						tr
							td 6
							td Respuesta del servidor. Retornamos la cadena “Ruta -> raiz (/)”.
						tr
							td 8 → 10
							td 
								p Definicion de la ruta /hola que se leera por el método HTTP GET, le pasamos dos parámetros req y res.
								p Req = Peticion del usuario.
								p Res = Respuesta del servidor.
						tr
							td 9
							td Respuesta del servidor. Retornamos la cadena “Ruta -> hola (/hola)”.
						tr
							td 11
							td Invocamos la función del servidor listen y le pasamos por parámetro el puerto por el cual correrá el servidor.
						tr
							td 12
							td Imprimimos la notificación de que el servidor se encuentra corriendo en el puerto que definimos.
				li Corremos el servidor haciendo uso de la instrucción > node *.js. (El servidor corre por el puerto 3000 en nuestro localhost).
					p.parrafo-centrado
						i > node app.js
					br
				li Abrimos el navegador en la ruta raíz (/) para ver la respuesta que nos arroja el servidor cuando entramos a esta ruta.
					img.practicas(src="/img/243.png")
					br
				li Abrimos el navegador en la ruta que configuramos /hola para que el servidor nos responda de la manera que le indicamos.
					img.practicas(src="/img/244.png")
					br