extends ../layout/contenido_editor
block contenido
	br
	div.row(style="margin-bottom:3%;")
		div.col-1
			form(action='/')
				input.btn.botones_editor.bot(type='submit' title='Inicio' value='' style='background:url("/img/icon-index2.png") left center no-repeat; padding:22px;')
		div.col-10
			h1 Referencias.	
	div.row(style="margin-bottom:10%;")
		div.col-3
		div.col-6
			ul(style="list-style-type: upper-latin;")
				li https://nodejs.org/es/
				li https://github.com/nodejs/node
				li https://code.visualstudio.com/docs/nodejs/nodejs-tutorial
				li https://hub.docker.com/_/node/
				li https://nodejs.org/es/download/package-manager/
				li https://www.digitalocean.com/community/tutorials/como-instalar-node-js-en-ubuntu-16-04-es
				li https://docs.npmjs.com/getting-started/installing-node
				li https://www.npmjs.com/get-npm