extends ../layout/contenido_editor
block contenido
	br
	div.row(style="margin-bottom:3%;")
		div.col-1
			form(action='/')
				input.btn.botones_editor.bot(type='submit' title='Inicio' value='' style='background:url("/img/icon-index2.png") left center no-repeat; padding:22px;')
		div.col-10
			h1 Objeto AJAX Response.
			p La propiedad readyState tiene el estado de XMLHttpRequest.
			p La propiedad onreadystatechange define una función que se ejecutará cuando el readyState cambie.
			p La propiedad de estado y la propiedad statusText tienen el estado del objeto XMLHttpRequest.
			p Para la realización de las practicas del manual con AJAX se hará uso del lenguaje del lado del servidor PHP, el servidor local XAMPP y el gestor de base de datos MySQL. 
			p Para instalar estos softwares en su equipo favor de revisar la sección de lenguajes del lado del servidor.
	div.row(style="margin-bottom:10%;")
		div.col-3
		div.col-6
			